<p-card header="Post details:">
    <ng-container *ngIf="post$ | async as post; else loading">
        <ul>
            <li>
                <b>ID:</b>
                &nbsp;
                <span>{{post.id}}</span>
            </li>
            <li>
                <b>Title:</b>
                &nbsp;
                <span>{{post.title}}</span>
            </li>
            <li>
                <b>Author</b>
                &nbsp;
                <a [routerLink]="['/author', post.author]">{{post.author}}</a>
            </li>
        </ul>
    </ng-container>

    <ng-template #loading>
        Loading...
    </ng-template>

    <ng-container *ngIf="error$ | async as errorMessage">
        <span class="p-error">{{ errorMessage }}</span>
    </ng-container>

    <ng-template pTemplate="footer">
        <p-button
            (onClick)="back()"
            label="Back"
            icon="pi pi-undo"
        ></p-button>
    </ng-template>
</p-card>