<div class="app__wrapper">
    <header class="app__header inline-flex">
        <span class="p-buttonset app__history-buttons">
            <p-button
                label="Home"
                routerLink="/home"
            ></p-button>
            <p-button
                icon="pi pi-history"
                (onClick)="history.open()"
            ></p-button>
        </span>
    </header>
    
    <app-router-history #history></app-router-history>
    
    <router-outlet></router-outlet>
</div>