.app {
    &__wrapper {
        position: relative;
        width: 100%;
    }

    &__header {
        position: absolute;
        padding: .25em;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        pointer-events: none;
    }

    &__history-buttons {
        z-index: 100;
        pointer-events: auto;
    }
}

@media (max-width: 600px) {
    .app {
        &__header {
            position: unset;
        }
    }
}