@mixin main-content {
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
}

@mixin card-actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.5em;
}