<p-sidebar
    [(visible)]="isOpen"
    position="right"
>
    <h2>History:</h2>
    <ol *ngIf="history$ | async as history">
        <ng-container *ngFor="let historyEntry of history; first as isFirst">
            <li *ngIf="!isFirst">
                <a [routerLink]="historyEntry.url">{{ historyEntry.displayName }}</a>
            </li>
        </ng-container>
    </ol>
</p-sidebar>