<p-card header="Posts">
    <ng-container *ngIf="posts$ | async as posts; else loading">
        <p-table [columns]="displayedColumns" [value]="posts" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let column of columns">
                        {{column | titlecase}}
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let column of columns">
                        <ng-container [ngSwitch]="column">
                            <ng-container *ngSwitchCase="'id'">
                                <a [routerLink]="['/details', rowData.id]">{{rowData.id}}</a>
                            </ng-container>
                            <ng-container *ngSwitchCase="'title'">
                                {{rowData.title}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'author'">
                                <a [routerLink]="['/author', rowData.author]">{{rowData.author}}</a>
                            </ng-container>
                            <ng-container *ngSwitchCase="'actions'">
                                <p-button (onClick)="deletePost(rowData.id)">Delete</p-button>
                            </ng-container>
                        </ng-container>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-container>

    <ng-template #loading>
        Loading...
    </ng-template>
</p-card>
