<p-card [header]="authorName + '\'s posts:'">
    <ng-container *ngIf="authorPosts$ | async as author; else loading">
        <ul *ngIf="author.posts.length; else empty">
            <li *ngFor="let post of author.posts">
                <a [routerLink]="['/details', post.id]">{{post.title}}</a>
            </li>
        </ul>

        <ng-template #empty>
            <h3>Can't find any posts by {{author.name}}</h3>
        </ng-template>
    </ng-container>

    <ng-template #loading>
        Loading...
    </ng-template>

    <ng-container *ngIf="error$ | async as errorMessage">
        <span class="p-error">{{ errorMessage }}</span>
    </ng-container>

    <ng-template pTemplate="footer">
        <div class="author-posts__actions-wrapper">
            <p-button
                (onClick)="back()"
                label="Back"
                icon="pi pi-undo"
            ></p-button>
        </div>
    </ng-template>
</p-card>