@use '/src/app/shared/styles/mixins.scss';

:host(.add-post) {
    @include mixins.main-content;

    .add-post {
        &__form-wrapper {
            display: block;
            max-width: 20em;
        }

        &__form-field {
            display: block;
            margin: 0.5em 1em;
        }

        &__actions-wrapper {
            @include mixins.card-actions-wrapper;
        }
    }
}