<p-card class="add-post__form-wrapper" header="Add Post">
    <form
        #addPostForm="ngForm"
        [formGroup]="addPostFormGroup"
        (ngSubmit)="onSubmit()"
        class="flex flex-column"
    >
        <div class="add-post__form-field">
            <label for="id" class="block">Post ID</label>
            <input id="id" type="text" pInputText formControlName="id" />
            <app-form-field-error class="block" errorName="required" [fieldControl]="addPostFormGroup.controls['id']">
                Id is required.
            </app-form-field-error>
            <app-form-field-error class="block" errorName="pattern" [fieldControl]="addPostFormGroup.controls['id']">
                Id must be an integer.
            </app-form-field-error>
        </div>
    
        <div class="add-post__form-field">
            <label for="id" class="block">Title</label>
            <input id="id" type="text" pInputText formControlName="title" />
            <app-form-field-error class="block" errorName="required" [fieldControl]="addPostFormGroup.controls['title']">
                Title is required.
            </app-form-field-error>
            <app-form-field-error class="block" errorName="minlength" [fieldControl]="addPostFormGroup.controls['title']">
                Title has to be at least 7 characters long.
            </app-form-field-error>
        </div>
    
        <div class="add-post__form-field">
            <label for="id" class="block">Author</label>
            <input id="id" type="text" pInputText formControlName="author" />
            <app-form-field-error class="block" errorName="required" [fieldControl]="addPostFormGroup.controls['author']">
                Author name is required.
            </app-form-field-error>
        </div>
    </form>

    <ng-container *ngIf="error$ | async as errorMessage">
        <span class="p-error">{{ errorMessage }}</span>
    </ng-container>

    <ng-template pTemplate="footer">
        <div class="add-post__actions-wrapper">
            <p-button
                label="Back"
                icon="pi pi-undo"
                styleClass="p-button-secondary"
                (onClick)="back()"
            ></p-button>
            
            <p-button
                label="Add"
                icon="pi pi-plus-circle"
                [disabled]="addPostFormGroup.invalid"
                (onClick)="addPostForm.ngSubmit.emit()"
            ></p-button>
        </div>
    </ng-template>
</p-card>
